# Web Framework
Django==5.1.6
# PLC Driver
pycomm3==2.1.1
# Task Queue & Scheduling
celery==5.4.0
django-celery-beat==2.9.0
# Redis Client (required for Celery broker & Cache)
redis==5.2.1
# Optional but recommended for production
gunicorn==23.0.0