# Web Framework
Django
# PLC Driver
pycomm3
# Task Queue & Scheduling
celery
django-celery-beat
# Redis Client (required for Celery broker & Cache)
redis
# Optional but recommended for production
gunicorn