<!DOCTYPE html>
<html>
<body>
    <h1>PLC Relay Monitor</h1>
    <table border="1">
        {% for name, info in plc_data.items %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ info.status }}</td>
            {% if info.values %}
                <td>Relay 1: {{ info.values.Relay_1 }}</td>
                <td>Relay 2: {{ info.values.Relay_2 }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <script>setTimeout(() => location.reload(), 1000);</script>
</body>
</html>